.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  
  
:root {
    --primaryTextCOlor: #232e35; /* untuk title atau judul */
    --secondaryTextColor: #656d72; /* untuk text biasa */

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9; /*untuk line di pre-title */

    --primaryBgColor: #fff;
    --secondaryBgColor: #fbfbfb;
    --thirdBgColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconCOlorHover: #5d51e8;

    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--primaryTextCOlor);
}

p {
    font-size: 1rem; /* 1 rem = 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main_container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main_container {
        width: 90%;
    }
}

/* logo dan nav menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextCOlor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextCOlor);
}

nav ul li a:hover {
    color: var(--primaryIconCOlorHover);
}

/* buttons */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}

/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* hero secton */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero_name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem; 
}

.hero_name span {
    color: var(--primaryIconColor);
}

.hero_right img {
    width: 90%;
}

.hero_right {
    display: flex;
    justify-content: right;
}

/* titles */
.pre_title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre_title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.section_title {
    margin: 1rem;
    font-size: 2rem;
}

/* services section */
/* #services {
    background-color: var(--secondaryBgColor);
    padding: var(--sectionPadding);
}

.services .pre_title {
    margin: 0 auto;
}

.services_title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryBgColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service_icon {
    background: var(--thirdBgColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service_icon svg {
    fill: var(--primaryIconColor);
} */

/* project section*/
#project {
    padding: var(--sectionPadding);
}

.project {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.project-cover {
    height: 255px;
}

.project-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_info {
    padding: 2rem 1.5rem;
}

.project .pre_title {
    margin: 0 auto;
}

.project .section_title {
    text-align: center;
}

.project_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.project h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.project_title a svg:hover {
    fill: var(--primaryIconColor);
}

.project_title a svg {
    transition: 0.2s ease-in-out;
}

.project_tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.project_tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

.project p {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* portfolio section*/
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_info {
    padding: 2rem 1.5rem;
}

.portfolios .pre_title {
    margin: 0 auto;
}

.portfolios .section_title {
    text-align: center;
}

.portfolio_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio_title a svg:hover {
    fill: var(--primaryIconColor);
}

.portfolio_title a svg {
    transition: 0.2s ease-in-out;
}

.portfolio_tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio_tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}

.portfolio p {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* skills and education */
#skills {
    padding: var(--sectionPadding);
    background: var(--secondaryBgColor);
}

.skills_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 1rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education_info p {
    margin: 0.6rem 0 1.4rem;
}

.education_years {
    margin-bottom: 3rem;
}

.education .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills_right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* contact section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact_from div {
    margin-bottom: 1.4rem;
}

.contact_from input, .contact_from textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "roboto", sans-serif;
    background: var(--secondaryBgColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.btn_submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn_submit:hover {
    background: darkblue;
}

.contact_item_icon {
    background: var(--thirdBgColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_item_icon svg {
    fill: var(--primaryIconColor);
}

.contact_item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 3rem;
}

/* footer */
footer {
    padding: 4rem 0;
    background: var(--secondaryBgColor);
    text-align: center;
}

.footer_icon {
    margin-bottom: 1rem;
}

.footer_icon a {
    margin: 0 0.5rem;
}

.footer_icon svg {
    fill: #3e3f40;
}